* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
    font-size: 16px;
    line-height: 26px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.menu__list {
    display: flex;
}

.menu__list li+li {
    padding-left: 26px;
}

.menu__list a {
    color: #1E1E1E;
    font-weight: 400;
}

.menu__list a:hover {
    color: #2E4FD7;
    font-weight: 700;
}

.header-btn {
    font-weight: 400;
    color: #FFFFFF;
    background-color: #2E4FD7;
    padding: 5px 20px;
}

.header-btn a {
    margin-right: 10px;
}

.header__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 105px;
    padding: 145px 0;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 635px;
}

.header__content-title {
    color: #191919;
    font-weight: 700;
    font-size: 50px;
    line-height: 72px;
    text-transform: capitalize;
    margin-bottom: 26px;
}

.header__content-desc {
    color: #1E1E1E;
    line-height: 30px;
    margin-bottom: 65px;
    font-size: 20px;
    max-width: 580px;
}

.btn-container {
    display: flex;
    align-items: center;
}

.header__content-btn {
    font-weight: 500;
    color: #FFFFFF;
    background-color: #2E4FD7;
    padding: 15px 19px;
    align-self: flex-start;
    margin-right: 24px;
}

.header__content-btn a {
    margin-right: 10px;
}

.header__content-subdesc {
    font-weight: 400;
    max-width: 215px;
}

.img-content img {
    max-width: 100%;
    height: auto;
}

.more__content {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 164px;
    padding: 131px 45px 152px 45px;
}

.more__content-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.mc-item {
    display: flex;
    gap: 25px;
}

.mc-icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.mc-text h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 30px;
    color: #1E1E1E;
}

.mc-text p {
    font-weight: 400;
    max-width: 330px;
    color: #1E1E1E;
}

.mc-desc h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 62px;
    margin-bottom: 20px;
    color: #191919;
}

.mc-desc p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 38px;
    color: #1E1E1E;
}

.mc-btn {
    font-weight: 500;
    color: #FFFFFF;
    background-color: #2E4FD7;
    padding: 15px 25px;
    width: auto;
    max-width: fit-content;
}

.mc-btn a {
    margin-right: 10px;
}

.features__title {
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
    color: #191919;
    margin: 132px 0px 38px 45px;
}

.features__container {
    padding: 0 45px 132px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 30px;
}

.features-item {
    display: flex;
    align-items: start;
    gap: 40px;
    max-width: 540px;
}

.features-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 8px;
    color: #18191F;
}

.features-item p {
    color: #1E1E1E;
}

.case__content {
    margin: 115px 45px;
    background-color: #E7EBFC;
}

.case-slider__item-content {
    display: flex;
    justify-content: space-between;
}

.case-slider__item-info {
    max-width: 588px;
    margin: 119px 47px 116px 95px;
}

.case-slider__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    color: #191919;
    margin-bottom: 32px;
}

.case-slider__text {
    font-size: 36px;
    line-height: 52px;
    color: #1E1E1E;
    margin-bottom: 59px;
}

.case-slider__link-box {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #2E4FD7;
    margin-bottom: 30px;
}

.case-slider__link {
    margin-right: 10px;
}

.case-slider__icon {
    width: 20px;
    height: 10px;
}

.case-slider__item-photo {
    margin-top: 116px;
}

.case-dots {
    list-style: none;
    position: absolute;
    display: flex;
    top: 80%;
    left: 8.5%;
}

.case-dots button {
    border: none;
    background-color: #B4B4B4;
    font-size: 0;
    padding: 0;
    width: 6px;
    height: 6px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
}

.case-dots .slick-active button {
    background-color: #2E4FD7;
}

.process__title {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 52px;
    margin-left: 45px;
}

.process__steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 45px 50px 45px;
}

.process__steps-item h3 {
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 52px;
    margin-bottom: 4px;
}

.process__steps-item p {
    max-width: 255px;
}

.indicate {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.ind-line {
    margin-left: 24px;
}

#CTA {
    background-color: #E7EBFC;
}

.CTA__content {
    padding: 103px 140px 45px 140px;
    display: grid;
}

.CTA__title {
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

.CTA__info {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 61px;
}

.CTA__btn {
    font-weight: 500;
    color: #FFFFFF;
    background-color: #2E4FD7;
    padding: 15px 19px;
    width: auto;
    max-width: fit-content;
    margin: auto;
}

.CTA__btn a {
    margin-right: 10px;
}

#footer {
    background-color: #052825;
    color: #FFFFFF;
}

.footer-box {
    padding: 74px 15px 60px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 290px;
    position: relative;
}

.footer__column {
    margin-bottom: 22px;
}

.footer__info {
    max-width: 441px;
}

.footer__logo {
    font-family: "Alkalami", serif;
    font-weight: 400;
    font-size: 29px;
    line-height: 24px;
    margin-bottom: 33px;
}

.footer__text h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 6px;
}

.footer__text p {
    margin-bottom: 17px;
}

.footer__link {
    display: flex;
    align-items: center;
}

.footer__link a {
    margin-right: 10px;
}

.footer-list li {
    list-style-type: none;
}

.footer-list li+li {
    margin-top: 7px;
}

.footer__legal {
    display: flex;
    margin-top: 29px;
}

.footer-legal {
    margin-right: 23px;
}

.footer-box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.4px;
    background-color: #fff;
    opacity: 10%;
    top: 85%;
}

.down {
    padding-bottom: 60px;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: flex-end;
}


#price {
    background-color: #052825;
    padding-bottom: 150px;
}

.price__title {
    display: flex;
    justify-content: center;
    padding-top: 122px;
}

.price__title h1 {
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    max-width: 730px;
    left: 50%;
    margin-bottom: 53px;
}

.price__table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 38px;
}

.price__table-item {
    background-color: #fff;
    margin: 0 30px 30px 0;
    padding: 40px 32px;
}

.table__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: #191919;
    margin-bottom: 12px;
}

.table__item-text {
    color: #191919;
    max-width: 286px;
    margin-bottom: 40px;
}

.text-marg {
    margin-bottom: 64px;
}

.price__item-link {
    display: flex;
    align-items: center;
}

.price__item-link a {
    color: #2E4FD7;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-right: 8px;
}

.price__table-item img {
    margin-bottom: 50px;
}

.price__item-link img {
    margin: 0;
}

.price-btn {
    display: flex;
    justify-content: center;
}

.price-btn a {
    font-weight: 500;
    padding: 15px 10px 15px 25px;
    color: #FFFFFF;
}

.border-btn {
    padding: 15px 25px;
    border: 1px solid #fff;
}

#about__info {
    background-color: #E7EBFC;
}

.about__info-content {
    padding: 134px 0 99px;
}

.about__info-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 72px;
    text-transform: capitalize;
    margin-bottom: 31px;
}

.about__info-text {
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
    margin-bottom: 36px;
}

.about__info-signature {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 36px;
}

.about__info-signature img {
    margin-right: 24px;
}

.about__info-signature-name {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 7px;
    margin-top: 10px;
}

.about__info-signature-job {
    margin-bottom: 19px;
}

.about__info-btn {
    font-weight: 500;
    color: #FFFFFF;
    background-color: #2E4FD7;
    padding: 15px 25px;
    width: auto;
    max-width: fit-content;
}

.about__info-btn a {
    margin-right: 10px;
}

#numbers {
    background-color: #2E4FD7;
}

.numbers__content {
    padding: 71px 0 53px;
}

.numbers__content h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 8px;
}

.numbers__content-text {
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 45px;
}

.numbers__goals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.numbers__goals-item {
    text-align: center;
    color: #FFFFFF;
    position: relative;
}

.numbers__goals-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 42%;
    right: -35%;
    transform: translateY(-50%);
    width: 1px;
    height: 82%;
    background-color: #fff;
}

.numbers__goals-item h2 {
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
}

.numbers__goals-item p {
    font-size: 18px;
    line-height: 28px;
}

.tour__content {
    margin: 100px 0;
    display: flex;
}

.tour__img {
    position: relative;
    margin-right: 164px;
}

.tour__img p {
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 214px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-left: 29px;
    margin-bottom: 31px;
}

.tour__text {
    max-width: 635px;
}

.tour__text h1 {
    font-size: 50px;
    line-height: 62px;
    font-weight: 700;
    margin-bottom: 30px;
}

.tour__text p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

.tour__text-btn {
    display: flex;
    align-items: center;
}

.tour__text-btn img {
    margin-right: 14px;
}

.tour__text-btn-a {
    font-size: 18px;
    line-height: 28px;
}

.tools__container {
    margin: 127px 0;
    display: flex;
    justify-content: space-between;
}

.tools__table {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tools__table-item {
    max-width: 255px;
    margin-right: 90px;
    margin-bottom: 60px;
}

.tools__table-icon {
    margin-bottom: 16px;
}

.tools__table-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 7px;
}

.command__content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.command__content h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    max-width: 760px;
    margin-bottom: 50px;
}

.command__content-sub {
    font-size: 24px;
    line-height: 34px;
    color: #2E4FD7;
    margin-bottom: 24px;
}

.command__slider {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.command__slider__item img {
    margin-bottom: 24px;
}

.command__slider__item-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 4px;
}

.command__slider__item-job {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.command__arrows {
    align-self: end;
    display: flex;
    margin-bottom: 50px;
}

.command-prev {
    margin-right: 15px;
}

.command-next {
    margin-right: 60px;
}

.review__content {
    margin: 115px 45px;
    background-color: #E7EBFC;
}

.review-slider__item-content {
    display: flex;
    justify-content: space-between;
}

.review-slider__item-info {
    max-width: 588px;
    margin: 119px 47px 116px 95px;
}

.review-slider__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    color: #191919;
    margin-bottom: 32px;
}

.review-slider__text {
    font-size: 36px;
    line-height: 52px;
    color: #1E1E1E;
    margin-bottom: 50px;
}

.review-slider__text-name {
    font-size: 36px;
    line-height: 52px;
    color: #1E1E1E;
    margin-bottom: 71px;
}

.review-slider__item-photo {
    margin-top: 116px;
}

.review-dots {
    list-style: none;
    position: absolute;
    display: flex;
    top: 80%;
    left: 8.5%;
}

.review-dots button {
    border: none;
    background-color: #B4B4B4;
    font-size: 0;
    padding: 0;
    width: 6px;
    height: 6px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
}

.review-dots .slick-active button {
    background-color: #2E4FD7;
}

#Tune-contacts {
    background-color: #E7EBFC;
    position: relative;
}

.Tune-contacts__content {
    padding: 109px 0 72px;
    max-width: 480px;
}

.Tune-contacts__content h1 {
    font-size: 55px;
    line-height: 72px;
    font-weight: 700;
    margin-bottom: 29px;
}

.Tune-contacts__content p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 98px;
}

.Tune-contacts-btns {
    display: flex;
}

.Tune-contacts-btns a {
    padding: 15px 12px 18px;
}

.btn__one-text {
    font-size: 14px;
    font-weight: 600;
}

.btn__two-text {
    font-size: 14px;
    font-weight: 600;
}

.btn__one {
    background-color: #2E4FD7;
    color: #FFFFFF;
    margin-right: 30px;
}

.btn__two {
    background-color: #FFFFFF;
    color: #2E4FD7;
    border: solid;
    border-width: 1px;
    border-color: #2E4FD7;
}

.contacts__form {
    position: absolute;
    top: 125px;
    right: 26%;
    max-width: 487px;
    border: solid;
    border-width: 1px;
    border-color: #B4B4B4;
    padding: 36px 30px 26px;
    background-color: #fff;
}

.contacts__form__content h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contacts__form__content p {
    font-size: 18px;
    line-height: 30px;
    color: #64626A;
    max-width: 427px;
    margin-bottom: 24px;
}

.contacts_form-text {
    display: flex;
    justify-content: space-between;
}

.contacts_form-text h3 {
    display: flex;
    font-weight: 500;
    margin-bottom: 11px;
}

.form-dot {
    color: #2E4FD7;
}

.contacts_form-text input {
    width: 204px;
    min-height: 52px;
    padding: 18px;
    border: solid;
    border-width: 1px;
    border-color: #b3b1b7;
    margin-bottom: 24px;
}

.contacts_form-text input::placeholder {
    font-size: 14px;
    color: #b3b1b7;
}

.contacts_form-group h3 {
    display: flex;
    font-weight: 500;
    margin-bottom: 11px;
}

.contacts_form-group select {
    width: 100%;
    min-height: 52px;
    padding: 18px;
    border: solid;
    border-width: 1px;
    border-color: #b3b1b7;
    margin-bottom: 24px;
    color: #b3b1b7;
    font-size: 14px;
}

.contacts_form-group select:hover {
    cursor: pointer;
}

.selected {
    display: none;
}

.contacts_form-message h3 {
    display: flex;
    font-weight: 500;
    margin-bottom: 11px;
}

.contacts_form-message textarea {
    min-width: 427px;
    min-height: 122px;
    padding: 18px;
    border: solid;
    border-width: 1px;
    border-color: #b3b1b7;
    margin-bottom: 28px;
    resize: vertical;
    font-size: 14px;
    font-family: "Inter", serif;
}

textarea::placeholder {
    color: #b3b1b7;
}

.contacts__btn {
    background-color: #2E4FD7;
    color: #FFFFFF;
    padding: 17px 0 19px;
    border: none;
    font-weight: 600;
    font-family: "Inter", serif;
    width: 100%;
}

#adress {
    margin-top: 221px;
    padding: 88px 0;
}

.adress__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
}

.adress__title h1 {
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
}

.adress__title p {
    color: #64626A;
    line-height: 30px;
    font-size: 20px;
    max-width: 476px;
    margin-right: 99px;
}

.adress__map {
    display: flex;
    justify-content: space-between;
}

.adress__map-text img {
    margin-bottom: 30px;
}

.adress__map-text h2 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 10px;
}

.adress__map-text p {
    font-size: 20px;
    line-height: 30px;
    color: #1E1E1E;
    margin-bottom: 29px;
}

.adress__map-text a {
    color: #2E4FD7;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 390px) {
    .logo {
        margin-left: 30px;
    }

    .menu__list {
        display: none;
        position: absolute;
        top: 85px;
        width: 100%;
        left: 0;
        text-align: center;
        background-color: #e9e9e9
    }

    .menu__list li+li {
        padding-left: 0;
    }

    .menu__list a {
        display: block;
        padding: 10px 0;

    }

    .header-btn {
        display: none;
    }

    .menu__btn {
        width: 35px;
        height: 20px;
        position: relative;
        margin-right: 30px;
    }

    .menu__btn span {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #2E4FD7;
        top: 8px;
    }

    .menu__btn::after,
    .menu__btn::before {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #2E4FD7;
        position: absolute;
    }

    .menu__btn::after {
        top: 0;
    }

    .menu__btn::before {
        bottom: 0;
    }

    .header__content {
        display: block;
        padding: 30px 0 0 34px;
    }

    .header__content-title {
        font-size: 32px;
        line-height: 40px;
        max-width: 322px;
        margin-bottom: 20px;
    }

    .header__content-desc {
        font-size: 15px;
        max-width: 322px;
        margin-bottom: 39px;
    }

    .btn-container {
        display: block;
    }

    .header__content-btn {
        text-align: center;
        max-width: 322px;
        ;
        margin: 0 0 5px 0;
    }

    .header__content-subdesc {
        text-align: center;
        max-width: 322px;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .img-content img {
        max-width: 322px;
        max-height: 384px;
    }

    .text-content {
        min-width: 322px;
    }

    .more__content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 1px;
        padding: 88px 32px 0;
        max-width: 322px;
    }

    .more__content-list {
        margin-bottom: 39px;
    }

    .mc-desc h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 16px;
    }

    .mc-desc p {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .mc-btn {
        text-align: center;
        max-width: 322px;
    }

    .features__title {
        font-size: 30px;
        line-height: 40px;
        max-width: 322px;
        margin-top: 60px;
    }

    .features__container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 1px;
        padding: 0 32px;
        max-width: 322px;
    }

    .features-item img {
        width: 54px;
        height: 54px;
        margin-right: 0;
    }

    .features-text {
        min-width: 243px;
        margin-bottom: 25px;
    }

    .features-text h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .features-text p {
        font-size: 14px;
    }

    .case__content {
        margin: 45px 32px;
    }

    .case-slider__item {
        max-width: 325px;
    }

    .case-slider__item-info {
        margin: 23px 20px 12px;
    }

    .case-slider__item-content {
        display: block;
        max-height: 708px;
    }

    .case-slider__title {
        font-size: 32px;
        margin-bottom: 18px;
        text-align: center;
    }

    .case-slider__text {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 26px;
    }

    .case-slider__link-box {
        margin: 0;
    }

    .case-slider__item-photo {
        width: 325px;
        height: 399px;
        margin: 0 0 40px;
    }

    .case-slider__item-photo img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .case-slider__link-box {
        text-align: center;
    }

    .case-dots {
        top: 93%;
        left: 45.5%;
    }

    .process__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 26px;
        max-width: 322px;
    }

    .process__steps {
        max-width: 322px;
        display: block;
    }

    .process__steps-item p {
        margin-bottom: 16px;
    }

    .CTA__content {
        padding: 20px 32px 36px;
        ;
    }

    .CTA__title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
    }

    .CTA__info {
        font-size: 15px;
        margin-bottom: 42px;
    }

    .CTA__btn {
        text-align: center;
        max-width: 327px;
        margin: 0;
    }

    .footer-box {
        display: block;
        padding: 40px 32px 18px;
    }

    .footer__logo {
        font-size: 24px;
        margin-bottom: 13px;
    }

    .footer__text h3 {
        font-size: 16px;
    }
    .footer__text p{
        font-size: 15px;
        margin-bottom: 18px;
    }
    .footer__link{
        margin-bottom: 36px;
    }
    .footer-list{
        font-size: 13px;
        margin-bottom: 18px;
    }
    .footer__legal{
        font-size: 10px;
        margin: 0;
        margin-bottom: 18px;
    }
    .footer-box::after{
        top: 95%;
        max-width: 327px;
    }
    .down{
        padding: 0;
        padding-bottom: 29px;
        font-size: 11px;
        margin: 0 32px;
    }
    #price{
        padding-bottom: 85px;
    }
    .price__title{
        padding-top: 39px;
    }
    .price__table {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 1px;
    }
    .item-hide{
        display: none;
    }
    .price__title h1{
        margin-bottom: 40px;
        font-size: 32px;
        line-height: 40px;
    }
    .price__table-item{
        margin: 0 20px 39px;
    }
    .about__info-content{
        padding: 29px 32px 48px;
    }
    .about__info-title{
        font-size: 24px;
        line-height: 32px;
        max-width: 322px;
        text-transform:none;
        margin-bottom: 19px;
    }
    .about__info-text{
        font-size: 16px;
        margin-bottom: 26px;
    }
    .about__info-btn{
        text-align: center;
        max-width: 322px;
    }
    .numbers__content{
        padding: 43px 32px 10px;
    }
    .numbers__goals{
        display: block;
    }
    .numbers__content h1{
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 8px;
    }
    .numbers__goals-item{
        margin-bottom: 43px;
    }
    .numbers__content-text{
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 43px;
    }
    .tour__content{
        flex-direction: column-reverse;
        margin: 53px 32px 60px;
    }
    .tour__text h1{
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 31px;
    }
    .tour__text-btn {
        justify-content: center;
        margin-bottom: 31px;
    }
    .tour__img{
        margin-right: 0;
    }
    .tour__img img{
        max-width: 283px;
        margin: 0 21px;
    }
    .tour__img p {
        margin-left: 50px;
        margin-bottom: 30px;
    }
    .tools-img{
        display: none;
    }
    .tools__container{
        margin: 69px 60px 31px;
    }
    .tools__table{
        grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1px;
    }
    .tools__table-item{
        margin: 0;
        margin-bottom: 10px;
    }
    .command__content{
        margin: 21px 32px 30px;

    }
    .command__content-sub{
        font-size: 16px;
        margin-bottom: 13px;
    }
    .command__content h1{
        font-size: 24px;
        line-height: 32px;
    }
    .command__arrows{
        display: none;
    }
    .command__slider__item{
        opacity: 0.5;
        text-align: center;
    }
    .command__slider__item.slick-center{
        opacity: 1;
        text-align: center;
    }
    .review__content {
        margin: 45px 32px;
    }

    .review-slider__item {
        max-width: 325px;
    }

    .review-slider__item-info {
        margin: 23px 20px 12px;
    }

    .review-slider__item-content {
        display: block;
        max-height: 708px;
    }

    .review-slider__title {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
        line-height: 32px;
    }

    .review-slider__text {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 12px;
    }
    .review-slider__text-name{
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 37px;
    }

    .review-slider__link-box {
        margin: 0;
    }

    .review-slider__item-photo {
        width: 325px;
        height: 399px;
        margin: 0 0 40px;
    }

    .review-slider__item-photo img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .review-slider__link-box {
        text-align: center;
    }

    .review-dots {
        top: 93%;
        left: 45.5%;
    }
    #Tune-contacts{
        position: static;
    }
    .Tune-contacts__content{
        padding: 53px 34px 291px;
    }
    .Tune-contacts__content h1{
        font-size: 36px;
        line-height: 40px;
        max-width: 322px;
        margin-bottom: 16px;
    }
    .Tune-contacts__content p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 29px;
    }
    .Tune-contacts-btns{
        flex-wrap: wrap;
    }
    .Tune-contacts-btns a{
        padding: 9px 25px;
    }
    .btn__one{
        width: 100%;
        margin-right: 0;
        margin-bottom: 11px;
    }
    .btn__two{
        width: 100%;
        margin-bottom: 53px;
    }
    .contacts__form{
        top: 495px;
        max-width: 355px;
        right: 5%;
        padding: 25px 21px;
    }
    .contacts__form__content h2{
        margin-bottom: 9px;
    }
    .contacts__form__content p{
        font-size: 15px;
    }
    .contacts_form-text input{
        width: 148px;
        margin-bottom: 20px;
    }
    .contacts_form-message textarea{
        min-width: 311px;
        margin-bottom: 26px;
    }
    #adress{
        margin-top: 412px;
        padding: 0 34px;
    }
    .adress__title{
        display: block;
        margin-bottom: 0;
    }
    .adress__map{
        display: block;
    }
    .adress__title h1{
        font-size: 40px;
        margin-bottom: 15px;
    }
    .adress__title p{
        font-size: 16px;
        margin-right: 0;
        margin-bottom: 34px;
    }
    .adress__map-text img{
        width: 322px;
    }
    .adress__map-text h2{
        font-size: 20px;
        margin-bottom: 0;
    }
    .adress__map-text p{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .adress__map-text a{
        font-size: 16px;
    }
    .map img{
        max-width: 322px;
        margin-top: 69px;
        margin-bottom: 44px;
    }
}